
.teste{

    width: 534px;
height: 976px;
background-color: blue;
    display:flex;
    flex-direction: ;
    
}

.fundo_feed{
    
    
    width: 534px;
    height: 976px;
    background-color: orange;

.postagens_feed_1{
    
    
    width: 442px;
    height: 526px;
    background-color: yellow;
      
}
    
    