.primeira_secao {
    width: 534px;      
    height: 976px;   
    display: block;    
    justify-content: center; 
    align-items: center;     
    background-color: rgb(255, 56, 56); 

}


.postagem1 {
    width: 442px;
    height:526px;
    background-color: blue;
}
